<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Luke Gilsinger - {{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="I am a programmer. I usually code in Python. I also have experience with web development (HTML, CSS, JS), and C (Still learning but I know some of it). I love to work with Linux, networking, and VMWare (and any other virtualization platforms). Some hobbies I have are programming microcontrollers (Arduino, RPI, etc), HAM Radio, testing Nintendo Wii exploits, and finding exploits in school computers.">    
        <meta name="author" content="Luke Gilsinger">
        <meta name="og:title" content="Luke Gilsinger">
        <meta name="og:type" content="website">
        <meta name="og:url" content="https://luke.gilsinger.net">
        <meta name="google-site-verification" content="XlynUCi_sCkRkRWVaMvSa60hwsz-vBHtAGbGb8oDlE4" />
        <meta name="og:description" content="I am a programmer. I usually code in Python. I also have experience with web development (HTML, CSS, JS), and C (Still learning but I know some of it). I love to work with Linux, networking, and VMWare (and any other virtualization platforms). Some hobbies I have are programming microcontrollers (Arduino, RPI, etc), HAM Radio, testing Nintendo Wii exploits, and finding exploits in school computers.">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" id="theme_stylesheet" href="/static/css/themes/{{ theme }}.css">
    </head>
    <body>
        {% block content %}

        {% endblock %}
        <button onclick="triggerDark()" class="trigger_dark_button" alt="Dark Mode Trigger">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="trigger_dark_svg">
                <path class="trigger_dark_path" d="M448 256c0-106-86-192-192-192V448c106 0 192-86 192-192zm64 0c0 141.4-114.6 256-256 256S0 397.4 0 256S114.6 0 256 0S512 114.6 512 256z"/>
            </svg>
        </button>
        <script>
            theme = "{{ theme }}"
        </script>
        <script src="/static/js/themes.js"></script>

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-54PL7GBQGL"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-54PL7GBQGL');
        </script>

    </body>
</html>