{% extends 'base.html' %}
{% block content %}
<main>
    <article>
    <div id="about_luke_div" style="display: none;">
        <h2>Hi, I am Luke!</h2>
        <p>I am a programmer. I usually code in Python. I also have experience with web development (HTML, CSS, JS), and C (Still learning but I know some of it). I love to work with Linux, networking, and VMWare (and any other virtualization platforms). Some hobbies I have are programming microcontrollers (Arduino, RPI, etc), HAM Radio, testing Nintendo Wii exploits, and finding exploits in school computers.</p>
    </div>
    </article>
</main>

<article>
<div id="projects_div" style="display: none;">
    <h2>Projects that I have done.</h2>
    <p>The first project that I have ever done that involved programming was in 3rd Grade I created a password cracker for a STEM Fair. One big project that I have worked on along with my dad, is setting up two server racks in my basement for home automation, web hosting, and other projects that require setting up Virtual Machines. Another project that I have worked on, is <a href="https://github.com/LukeG007/firework-buttons">programming a firework launcher</a>. I programmed the whole thing and my dad worked the hardware. I have lots of websites, one of them was a chat website using socketio to talk to my friends at school. I have made a lot of projects in Arduino. I also have setup a server in my basement that ran VNC servers for my friends to use at school, to help teach them how to use Linux, and to let them be able to talk to each other through chat programs. You can find more projects that I have worked on through my <a href="https://github.com/LukeG007/">GitHub Page</a></p>
</div>
</article>

<div class="terminal" id="terminal">
    <p class="termtext">Welcome to Luke's terminal! Type help for a list of commands.</p>
</div>
<div class="input-box">
    <input type="text" class="input-cmd" id="input-box" placeholder="Command"> <button onclick="sendCmd()" class="enterbutton">Enter</button>
</div>
<script src="/static/js/terminal_input.js"></script>
<script>
    setup_new_line();
    showing_element = null;
</script>
<script src="/static/js/terminal.js"></script>
{% endblock %}
